<div>
  <app-navbar></app-navbar>
  <div class="top-margin"></div>
  <div class="container">
    <h1 class="sec-title">Privacy Policy</h1>
    <p>
      Whisperify was created by Anthony Teo. This application is in no way
      officially affiliated with Spotify.This policy describes how we use the
      information from visitors to this website. By continuing using the site,
      you agree to these uses of the data.
    </p>
    <p>
      By logging in with your Spotify account, you agree to let us use the
      information within the scopes we defined to generate quizzes or provide
      analysis. We also use Google Analytics to get general traffic information,
      such as the number of users currently on the website.
    </p>
    <div><span data-ccpa-link="1"></span></div>
  </div>
</div>
