<div class="nav-bar">
  <a class="nav-logo hoverhands" (click)="toMenu()"
    ><img class="nav-logo" src="assets/whisperify-logo.svg"
  /></a>
  <a class="nav-logo-min hoverhands" (click)="toMenu()"
    ><img class="nav-logo-min" src="assets/whisperwave.svg"
  /></a>
  <div class="nav-items">
    <a (click)="toMenu()" class="nav-link no-mobile"> Home </a>
    <a (click)="toAnalysis()" class="nav-link no-mobile"> Analysis </a>
    <a routerLink="/about" class="nav-link no-mobile"> About </a>
    <div class="nav-profile" *ngIf="displayname != ''">
      <div class="profile-btn" (click)="toggleProfile($event)">
        <div class="nav-pfp" [ngStyle]="{ 'background-image': pfp }"></div>
        <span class="profile-name">{{ displayname }}</span>
        <span class="nav-down"></span>
      </div>
      <ul class="profile-menu" *ngIf="showProfile">
        <!--<li><a>Profile</a></li>-->
        <li><a routerLink="/top">Favourites</a></li>
        <li><a routerLink="/documentation">Documentation</a></li>
        <li><a routerLink="/">Log out</a></li>
      </ul>
    </div>
  </div>
</div>
