<div>
  <audio controls #answerAudio id="answerPlayer1">
    <source
      allow="autoplay"
      src="{{ tracks[ind].preview_url }}"
      type="audio/mpeg"
    />
    Your browser does not support the audio element.
  </audio>
  <div *ngIf="isCorrect" class="answer-module green absoluteCenter">
    <div class="popup-inner">
      <div class="popup-title">
        <h1>Well Done!</h1>
        <p>
          <span *ngIf="mode == 'challenge'"
            >You got it! This was their {{ rankStr(altind + 1) }} most played
            song. </span
          ><span *ngIf="mode == 'top'"
            >This was your {{ rankStr(ind + 1) }} most played song over the past
            {{ timePeriod.toLowerCase() }}. Deservedly so!</span
          ><span *ngIf="mode == 'playlist'"
            >This song was added to the playlist on
            {{ time[ind].added_at.slice(0, 10) }}.
          </span>
        </p>
      </div>
      <div class="popup-player">
        <img src="{{ tracks[ind].album.images[1].url }}" />
        <div class="inner-player-flex">
          <div>
            <h3>
              <span title="{{ tracks[ind].name }}">{{ tracks[ind].name }}</span>
            </h3>
            <p>{{ tracks[ind].artists[0].name }}</p>
            <p>
              <i>{{
                tracks[ind].album.hasOwnProperty('name')
                  ? tracks[ind].album.name
                  : ''
              }}</i>
            </p>
            <button class="btn playback-btn" (click)="playFull()">Play</button>
            <button class="btn playback-btn" (click)="stopFull()">Stop</button>
          </div>
        </div>
      </div>
      <div class="popup-streak">
        <div>
          <span class="streak-count" *ngIf="streak > 1"
            ><strong>Streak: </strong>{{ streak }}</span
          >
          <span><strong>Score: </strong>{{ score }} (+{{ pointsAdded }})</span>
        </div>
      </div>
      <button class="btn popup-green" (click)="nextQues()">Continue</button>
    </div>
  </div>
  <div *ngIf="!isCorrect" class="answer-module red absoluteCenter">
    <div class="popup-inner">
      <div class="popup-title">
        <h1>Aww.</h1>
        <p>
          <span *ngIf="mode == 'challenge'"
            >Better luck on the next question! This was their
            {{ rankStr(altind + 1) }} most played song. </span
          ><span *ngIf="mode == 'top'"
            >This was your {{ rankStr(ind + 1) }} most played song over the past
            {{ timePeriod.toLowerCase() }}. </span
          ><span *ngIf="mode == 'playlist'"
            >This song was added to the playlist on
            {{ time[ind].added_at.slice(0, 10) }}. </span
          ><span *ngIf="partial">You got the right artist though!</span
          ><span *ngIf="!partial">Maybe you should listen to it more!</span>
        </p>
      </div>
      <div class="popup-player">
        <img src="{{ tracks[ind].album.images[1].url }}" />
        <div class="inner-player-flex">
          <div>
            <h3>
              <span title="{{ tracks[ind].name }}">{{ tracks[ind].name }}</span>
            </h3>
            <p>{{ tracks[ind].artists[0].name }}</p>
            <p>
              <i>{{
                tracks[ind].album.hasOwnProperty('name')
                  ? tracks[ind].album.name
                  : ''
              }}</i>
            </p>
            <button class="btn playback-btn" (click)="playFull()">Play</button>
            <button class="btn playback-btn" (click)="stopFull()">Stop</button>
          </div>
        </div>
      </div>
      <div class="popup-streak">
        <div>
          <span><strong>Score: </strong>{{ score }} (+{{ pointsAdded }})</span>
        </div>
      </div>
      <button class="btn" (click)="nextQues()">Continue</button>
    </div>
  </div>
</div>
