.error-popup {
  z-index: 100;
  position: fixed;
  bottom: 20px;
  right: 0;
  left: 0;
  padding: 0px 10px;

  div {
    width: 100%;
    max-width: 420px;
    overflow: hidden;
    background-color: #cb673c;
    border-radius: 10px;
    padding: 15px 25px 15px 25px;
    margin: auto;
    text-align: left;
  }
}