/* You can add global styles to this file, and also import other style files */

/* command: sass --watch src/static/index.scss:src/static/index.css */

$bg-color: #2E2E2E;
$optionclr: #414141;
$wgrey: #A8A8A8;
$wgreen: #38A275;
$wcode: #ededed;

@font-face {
  font-family: "Circular";
  src: url("assets/CircularStd-Bold.otf") format("opentype");
}

html {
    scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
    background-color: $bg-color;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    min-height: 100%;
    margin: 0;
}

p {
  line-height: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}


h1 {
  font-size: 80px;
}

h1, h2, h3, h4, h5 {
  font-family: "Circular", sans-serif;
  font-weight: normal;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.btn {
  font-family: 'Open Sans', sans-serif;
  padding: 15px 30px;
  background-color: rgb(100, 100, 100);
  border-radius: 40px;
  border-width: 0px;
  margin: 20px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  transition: all .2s ease-in-out;
}

.btn:hover {
  //opacity: 0.8;
  transform: scale(1.05);
}

.clr-wgreen {
  background-color: $wgreen;
}

.audio-btn {
  padding: 10px 40px;
  margin: 10px 12px;
}

.tab-btn {
  font-family: 'Circular', 'sans-serif';
  font-size: 20px;
  border: 0px solid #c4c4c4;
  color: white;
  background: #2e2e2e;
  border-radius: 10px;
  padding: 12px 10px 10px 10px;
  width: 100%;
  opacity: 0.6;
  transition: all .2s ease-in-out;
}

.tab-btn:hover {
  opacity: 1;
}

.selected-tab-btn {
  border: 0px solid #3E3E3E;
  background: #3e3e3e;
  color: white;
  opacity: 1;
}

.no-side-marg {
  margin-left: 0px;
  margin-right: 0px;
}

// CODE FOR NAVBAR

.nav-bar {
    position: absolute;
    top: 10px;
    right: 3%;

    button {
        background-color: $bg-color;
        border-color: $wgrey;
        border: 1px solid;
        color: $wgrey;
        display: inline-block;
        padding: 14px 25px;
        margin: 20px 10px;
    }

    #menu {
        margin: 10%;
        width: 80%;
    }

    #info-btn {
      font-family: 'Circular', 'sans-serif';
      text-transform: lowercase;
      padding: 5px;
      font-size: 1.2em;
    }

    #info-icon {
      margin: 10%;
      width: 80%;
      height: 80%;
      filter: invert(0.8)
    }

    #docs-icon {
      margin: 5%;
      width: 90%;
      height: 90%;
    }

    .nav-btn-c {
        width: 50px;
        height: 50px;
        overflow: hidden;
        padding: 10px 10px 10px 10px;
        margin: 20px 10px;

        img {
            width: 100%;
            opacity: 0.8;
            max-height: 100%;
            transition: none;
        }
    }
}

// CODE FOR SWITCH/SLIDER

.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  //border: 1px solid #c4c4c4;
  box-shadow: 0px 0px 0px 1px #d4d4d4;
  /*background-color: #c4c4c4;*/
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  /*background-color: #2e2e2e;*/
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  box-shadow: none;
  background-color: $wgreen;
}

input:focus + .slider {
  box-shadow: 0 0 0 1px $wgreen;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* DROPDOWN CODE */

.sel-option {
  min-width: 200px;
font-size: 16px;
color: #d4d4d4;
padding: 12px 40px 12px 20px;
  box-sizing: border-box;
  border-radius: 5px;
margin: 0;
  border: 1px solid #d4d4d4;
  -moz-appearance: none;
-webkit-appearance: none;
  appearance: none;
  background-color: #2e2e2e;
background-image: url('/assets/dd.svg');
background-repeat: no-repeat, repeat;
background-position: right .7em top 50%, 0 0;
background-size: .65em auto, 100%;
}
.sel-option::-ms-expand {
display: none;
}
.sel-option:hover {
  border-color: #fff;
  cursor: pointer;
}
.sel-option:focus {
border: 1px solid #fff;
color: #c4c4c4;
outline: none;
}
.sel-option option {
  border: 1px solid #d4d4d4;
font-weight:normal;
}

.coffee-frame {
  position: fixed;
  padding: 20px 20px;
  bottom: 30px;
  right: 3%;
}

.coffee {
  font-family: 'Open Sans', sans-serif;
  padding: 15px 30px;
  background-color: #ff813f;
  border-radius: 10px;
  border-width: 0px;
  margin: 20px 0px;
  margin-top: 50px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  transition: all .2s ease-in-out;
}

.coffee:hover {
  font-family: 'Open Sans', sans-serif;
  padding: 15px 30px;
  background-color: #ff9e6a;
  border-radius: 10px;
  border-width: 0px;
  margin: 20px 0px;
  margin-top: 40px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  transition: all .2s ease-in-out;
}

.about-btn {
  background-color: $bg-color;
  border-color: $wgrey;
  border: 2px solid;
  color: $wgrey;
  position: fixed;
  top: 10px;
  right: 3%;
}

.about-a {
  color: $wgrey;
  position: absolute;
  top: 10px;
  right: 0px;
  left: 0px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  transition: all .2s ease-in-out;
  z-index: 30;
}

.about-a:hover {
  color: white;
}

.hoverhands:hover {
  cursor: pointer;
}

.close-mod {
  opacity: 0.6;
  position: absolute;
  right: 30px;
  top: 20px;
  width: 15px;
  filter: invert(1);
  transition: all 0.1s ease-in-out;
}

.close-mod:hover {
  opacity: 1;
}

.circle-btn {
  overflow: hidden;
  display: inline-block;
  height: 32px;
  padding: 0px;
  margin: 10px 0px 0px 20px;
  p {
    display: inline;
    color: black;
    margin-left: 10px;
    vertical-align: middle;
    filter: invert(0.7);
  }

  img {
    width: 30px;
    filter: invert(0.7);
    transition: all 0.1s ease-in-out;
  }
}


.circle-btn:hover {
  img {
    filter: invert(1);
    transition: all 0.1s ease-in-out;
  }
  p {
    filter: invert(1);
    transition: all 0.1s ease-in-out;
  }
}


.link-div {
  display: flex;
}

.copy-btn {
  //background: #424242;
  font-family: 'Open Sans', sans-serif;
  padding: 12px 20px;
  background-color: #646464;
  border-width: 0px;
  margin: 20px 5px 10px 0px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  transition: all .2s ease-in-out;
  border-radius: 0px 5px 5px 0px;
  min-width: 100px;
}

.link-field {
  //flex: 1;
  border-radius: 5px 0px 0px 5px;
  font-family: 'Open Sans', sans-serif;
  padding: 12px 20px;
  background-color: #323232;
  border-width: 0px;
  margin: 20px 0px 10px 0px;
  text-decoration: none;
  color: #a8a8a8;
  transition: all .2s ease-in-out;
  border: 1px solid #646464;
  width: calc(100% - 105px);
}

/*.link-field:focus {
  border: 1px solid white;
}*/

.social-div {
  text-align: left;
  display: flex;
  align-items: center;
  //justify-content: center;
}

.sq-btn {
  border-radius: 5px!important;
  margin: 10px 10px 20px 0px;
  padding: 12px 20px;
}

.social-btn {
  padding: 0px 0px;
  height: 45px;
  width: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 10px 10px 20px 0px;
}

.signature {
  margin-top: 20px;
  max-width: 200px;
  filter: invert(1);
}

.signature:hover {
  transform: scale(1.05);
}

/* Homepage and Welcome */
.reg-div {
  min-height: 70vh;
}

.main-div {
    text-align: center;
    min-height: 70vh;
    padding: 0px 20px;
    width: 100%;
}

.main-text {
    padding: 80px 0px 20px 0px;
}

.main-title {
    font-size: 110px;
    margin-top: 60px;
    margin-bottom: 20px;
}

.sec-title {
  font-size: 72px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.sec-p {
  max-width: 640px;
  width: 100%;
  font-size: 18px;
  margin-bottom: 40px;
  opacity: 0.9;
}

.main-desc {
    font-size: 24px;
}

.welcome-desc {
  margin-top: 1%;
}


.align-left {
  text-align: left;
}

.almost-width {
  width: 95%;
}


.mode-div {
  width: 100%;
  max-width: 920px;
  margin: auto;
  /*display: flex;
  justify-content: center;
  flex-flow: row wrap;*/
}

.mode-card {
  border-radius: 20px;
  padding: 30px 25px;
  background-color: rgb(65, 65, 65);
  color: white;
  width: 220px;
  text-align: left;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  min-height: 260px;
  transition: all .2s ease-in-out;
  
  img {
    max-height: 50px;
    max-width: 50px;
    margin-bottom: 20px;
  }
}

a .mode-card:hover {
  margin-top: 2px;
  margin-bottom: 18px;
  transition: all .2s ease-in-out;
  background-color: rgb(75, 75, 75);
}

.options-pad {
  margin: auto;
  margin-bottom: 40px;
  max-width: 960px;
  padding: 24px 24px 10px 24px;
  border-radius: 30px;
  color: white;
  background-color: $optionclr;
}

// TOP TRACKS AND ANALYSIS COMMON CSS
.fav-container {
  max-width: 640px;
  width: 100%;
  margin: auto;
}

.artist-container {
  display: flex;
  justify-content: left;
  flex-flow: row wrap;

  h1 {
      width: 100%;
      text-align: left;
      font-size: 3em;
  }
}

.artist-card {
  background: #191919;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  width: calc(33% - 20px);
  position: relative;

  img {
    position: absolute;
    top:15px;
    right: 15px;
    width: 20px;
    filter: invert(0.5);
  }

  img:hover {
    filter: invert(1);
    cursor: pointer;
  }

  .popularity-tip {
    background: #191919;
    z-index: 30;
    border-radius: 5px;
    padding: 10px 20px;
    position: absolute;
    width: 100%;
    top:-5px;
    font-size: 0.8em;
    right: 50px;
  }

  div {
      position: relative;
      margin: 10px;
      border-radius: 100px;
      width: calc(100% - 20px);
      padding-top: calc(100% - 20px);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;

      span {
          position: absolute;
          top: 0;
          left: 2px;
          margin: auto;
          font-family: 'Circular', 'sans-serif';
          font-size: 4em;
      }
  }

  h3 {
      padding: 15px 0px 10px 0px;
      text-align: left;
  }
}

// DOCS Styles

.doc-div {
  .main {
    flex: 1 auto;
    max-width: 100%;
    min-width: 0;
    padding: 40px 30px;
    margin-bottom: 220px;

    h2 {
      margin-top: 40px;
    }

    h3 {
      margin-top: 30px;
    }

    code {
        background-color: $wcode;
        word-break: break-word;
    }

    pre {
      background-color:  $wcode;
      padding: 20px 20px;
      border-radius: 5px;
      overflow-x: auto;

      code {
        word-break: normal;
      }
    }

    table {
      margin: 20px 10px 30px;
      width: calc(100% - 20px);
      overflow-x: auto;
      border-collapse: collapse;

      thead {
        border-bottom: 2px solid $wcode;
        font-size: 12px;
        text-transform: uppercase;
      }

      th, td {
        //font-weight: 100;
        font-weight: 400;
        padding: 7px 40px 7px 0;
      }

      td {
        border-top: 1px solid $wcode;
      }

      code {
        word-break: break-word;
      }
    }
  }
}

// MISC STYLES

.loading-div {
  background-image: url("/assets/loading.gif");
  background-size: contain;
  width: 40px;
  height: 40px;
  filter: grayscale(1);
  margin: 100px auto;
}

.to-black {
  background-color: black;
}

.mobile {
  display: none;
}

.mobile-inline {
  display: none!important;
}

.no-mobile {
  display: block;
}

.no-mobile-inline {
  display: inline-block;
}

.fade-in-up {
  animation-duration: .5s;
  animation-fill-mode: both;
  -webkit-animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;

}

/* Animation */

@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }
  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }
  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

/*
----------
Waves Animation
----------
*/
.waves {
  //position: absolute;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 250px;
  z-index: -10;
  display: block;
}
.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 32s;
}
.parallax>use:nth-child(2) {
  animation-delay: -4s;
  animation-duration: 10s;
}
.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}



/* Mobile responsive styles */

@media (max-width: 768px) {
  .mob-pad {
    margin-bottom: 60px;
  }
  .mob-top-pad {
    margin-top: 20px!important;
  }
  .mobile {
    display: block;
  }
  .mobile-inline {
    display: inline-block!important;
  }
  .no-mobile {
    display: none!important;
  }
  .no-mobile-inline {
    display: none!important;
  }
  .mode-card {
    width: calc(100% - 20px);
    text-align: left;
    margin: 10px 10px;
    min-height: auto;
    padding: 20px 30px;
    
    img {
      max-height: 30px;
      max-width: 30px;
      margin-bottom: 10px;
    }
    h2 {
      display: inline-block;
      margin-left: 20px;
    }
  }
  a .mode-card:hover {
    margin: 10px 10px;
    transition: all .2s ease-in-out;
    background-color: rgb(75, 75, 75);
  }

  .offset-2 {
    margin: 0px!important;
  }
  .sec-title {
    font-size: 54px;
  }
  .main-title {
    font-size: 54px;
  }
  .main-text {
    padding-top: 10%;
  }
  .main-desc {
    font-size: 18px;
  }

  .btn {
    max-width: 300px;
    width: calc(100% - 40px);
    margin: 5px 20px;
  }

  .waves {
    height: 20vh;
    min-height: 80px;
  }

  /* QUIZ PAGE STYLES */

  .ques-num {
    font-size: 60px!important;
    margin-left: 15px;
  }

  .timer {
    margin-right: 15px;
  }

  .reg-div {
    width: calc(100% - 20px)!important;
    margin: 0px 10px!important;
  }

  .sound-div {
    width: 100%;
    margin: 80px 0px 0px 0px!important;
    div {
      width: 200px!important;
      height: 60px!important;
    }
  }

  .soundwave-white, .soundwave-blue {
    width: 200px!important;
    height: 60px!important;
    object-fit: contain!important;
  }

  .soundwave-blue {
    display: none!important;
  }

  .autocomplete {
    width: 100%!important;

    input {
      margin-right: 0px!important;
    }
  }

  .tut-module {
    width: 90%!important;
  }

  .audio-btn {
    width: auto;
    padding: 8px 20px;
    margin: 6px 6px;
  }

  .submit {
    margin-top: 20px;
  }

  .answer-module {
    h1 {
      margin: 0.3em 0px!important;
    }
  }

  .score-text {
    padding-top: 10%;
    width: 100%!important;

    h1 {
      font-size: 120px!important;
    }
  }

  .flavor-text {
    text-align: center!important;
    padding-bottom: 40px;
    width: 100%!important;
    min-width: 0!important;

    .flavor-card {
      max-height: none!important;
      width: 100%!important;
      margin: 10px auto!important;
    }
  }

  .artist-card {
    background: #191919;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    width: calc(50% - 20px);
  }

  .coffee-frame {
    position: relative;
  }

  .nav-bar {
    position: relative;
    top: 10px;
    right: 0px;
    width: 100%;
    text-align: center;


    button {
        background-color: $bg-color;
        border-color: $wgrey;
        border: 1px solid;
        color: $wgrey;
        display: inline-block;
        padding: 14px 25px;
        margin: 20px 10px;
    }

    #menu {
        margin: 10%;
        width: 80%;
    }

    .nav-btn-c {
        width: 50px;
        height: 50px;
        overflow: hidden;
        margin: 20px 10px;

        img {
            width: 100%;
            opacity: 0.8;
            transition: none;
        }
    }
  }
}