<div class="main-div col-md-8 col-md-offset-2">
    <div class="main-text align-left">
        <h1>Not enough activity</h1>
        <p class="main-desc almost-width">You either do not have enough Spotify listening activity to calculate your top tracks, or you excluded too many artists. After excluding artists, playlists should still have a minimum of 30 songs. </p>
        <p class="main-desc almost-width">For some artists, Spotify does not provide snippets of their songs to play. If those artists feature heavily in your playlists or top tracks, you might run into this problem as well. Known examples include Kanye West and The Weeknd. </p>
    </div>
    <div class="align-left">
        <button class="btn" routerLink="/welcome" style="margin: 0px;">Back to Menu</button>
    </div>
</div>