.cookie-banner {
  z-index: 80;
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 0px 10px;

  .info-button {
    display: flex;
    gap: 8px;
    padding: 0 0 8px;
    align-items: center;
  }

  .inner-cookie {
    width: 100%;
    max-width: 480px;
    overflow: hidden;
    background-color: #191919;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    margin: auto;
    text-align: left;
    font-size: 12px;
    position: relative;

    p {
      padding-right: 20px;
    }

    .close-mod {
      right: 12px;
      top: 10px;
    }
  }
}

#ncmp-consent-link {
  padding: 2px 0;
  color: #191919
}