$bg-color: #2e2e2e;
$wgrey: #a8a8a8;
$wgreen: #38a275;

* {
  box-sizing: border-box;
}

.area {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -5;
}

form {
  text-align: center;
  box-sizing: border-box;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  color: $bg-color;
  width: 500px;
  margin-top: 80px;
}

input[type='text'] {
  border-radius: 40px;
  border-width: 0px;
  background-color: white;
  width: 100%;
  padding: 15px 30px;
  margin-right: 20px;
}

button.submit {
  padding-left: 50px;
  padding-right: 50px;
}

button.submit:disabled {
  opacity: 0.9;
}

button.submit:disabled:hover {
  transform: scale(1);
}

.dropdown-expanded {
  border-radius: 25px 25px 0px 0px !important;
  border-bottom: 1px solid #d4d4d4 !important;
  //transition: all 0.5s ease;
}

.autocomplete-items {
  // shows a list of songs scrollable within the dropdown
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 220px;
  position: absolute;
  border-bottom: none;
  border-top: none;
  z-index: 10;
  text-align: left;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  border-radius: 0px 0px 25px 25px;
}
.each-item {
  padding: 15px 30px;
  cursor: pointer;
  background-color: white;
}
.hover-item {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.song-elem {
  font-weight: bold;
  span {
    font-weight: normal;
    color: $wgrey;
    margin-left: 8px;
  }
}

@media (max-width: 768px) {
  .autocomplete {
    margin-top: 40px;
  }
}
