<form autocomplete="off">
  <div class="autocomplete">
    <input
      class="{{ expandedClass() }}"
      type="text"
      name="searchStr"
      placeholder="Search Music..."
      [(ngModel)]="searchStr"
      (keyup)="handleKeyup($event)"
      value="{{ searchVal }}"
    />
    <div
      *ngIf="searchRes && focusDrop"
      id="myInputautocomplete-list"
      class="autocomplete-items"
    >
      <div
        *ngFor="let res of searchRes; index as i"
        class="each-item"
        (click)="selectVal(res.artists[0].name, res.name)"
        (mouseenter)="hoverElement(i)"
        [ngClass]="{ 'hover-item': i === hoverItem }"
      >
        <div class="song-elem" id="item-{{ i + 1 }}">
          {{ res.name }}<span>{{ res.artists[0].name }}</span>
        </div>
        <input type="hidden" value="{{ res.name }}" />
      </div>
    </div>
  </div>
  <button
    class="btn submit clr-wgreen"
    type="button"
    (click)="submitVal()"
    [attr.disabled]="
      this.searchStr == '' || this.searchStr == null ? 'disabled' : null
    "
  >
    Submit
  </button>
</form>
