$bg-color: #2E2E2E;
$wgrey: #A8A8A8;
$wgreen: #38A275;


* {
    box-sizing: border-box;
}

.container {
    margin-top: 3%;
    margin-bottom: 7%;
}

.cover {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $bg-color;
    z-index: -1;
}


p {
    font-size: 18px;
    width: 80%;
    margin-top: 30px;
    line-height: 1.75em;
}

h2 {
    margin-top: 40px;
}


.btn {
    border-radius: 40px!important;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0px 40px;
    }
    p {
        width: 100%;
    }
}