<div class="cover"></div>
<div class="container">
    <button routerLink="/" class="btn about-btn no-mobile">Home</button>
    <a routerLink="/" class="about-a mobile">Home</a>
    <h1 class="sec-title">About</h1>
    <p>How well do you know your favourite songs? The answer varies depending on who you ask. One of my favourite songs is Careless Whisper by George Michael. Interestingly, all most people needed was the first two seconds of the opening drum riff to recognise Careless Whisper. That was the main inspiration behind Whisperify. </p>
    <p>Whisperify is an interactive way to learn about your favourite songs. It chooses 10 songs from your top tracks or a playlist on Spotify, and plays you 5-second snippets, or 'whispers', of each song. You then get time to guess the song and get scored on your speed and accuracy. </p>
    <p>There is something about song identification that makes an interesting pasttime and my friends have always enjoyed quizzing each other on our music. This pushed me to figure out the ideal length of a song snippet that would allow you to identify a song, and how to get a metric for performance. </p>
    <div>
        <a href="https://anthonyteo.com"><img class="signature" src="assets/signature.png" alt="Anthony Teo"></a>
    </div>
    <a class="circle-btn" href="https://github.com/eightants/whisperify"><img src="assets/github.svg"><p>View on Github</p></a>
</div>