<div class="container">
    <app-navbar></app-navbar>
    <h1 class="sec-title">About</h1>
    <p>How well do you know your favourite songs? The answer varies depending on who you ask. One of my favourite songs is Careless Whisper by George Michael. Interestingly, all most people needed was the first two seconds of the opening drum riff to recognise Careless Whisper. That was the main inspiration behind Whisperify. </p>
    <p>Whisperify is an interactive way to learn about your favourite songs on Spotify. It is a Spotify quiz that chooses 10 songs from your top tracks or a playlist, and plays you 5-second snippets, or 'whispers', of each song. You get time to guess the song and scored on your speed and accuracy. You can create and share quizzes with friends</p>
    <p>In addition to that, Whisperify provides detailed stats on the audio features of your favourite songs, and how your listening habits compare to your favourite albums, your friends, listeners with specific personalities, and listeners from all around the world. </p>
    <p>There is something about song identification that makes an interesting pasttime and my friends have always enjoyed quizzing each other on our music. This pushed me to figure out the ideal length of a song snippet that would allow you to identify a song, and how to get a metric for performance. </p>
    <p>If you enjoyed this application, consider ✨ <a class="p-url" href="https://github.com/eightants/whisperify" target="_blank" rel="noopener noreferrer">giving a star on Github</a> or ☕ <a class="p-url" href="https://ko-fi.com/eightants" target="_blank" rel="noopener noreferrer">buying me a coffee</a>. </p>
    <div>
        <a href="https://anthonyteo.com" target="_blank" rel="noopener noreferrer"><img class="signature" src="assets/signature.png" alt="Anthony Teo"></a>
    </div>
    <a class="circle-btn visit-subreddit" href="https://reddit.com/r/whisperify" target="_blank" rel="noopener noreferrer"><img src="assets/reddit.svg"><p>Get Latest Updates</p></a>
</div>