<div class="main-div">
  <app-navbar></app-navbar>
  <div class="main-text top-title">
    <h1 class="main-title">{{ customTitle }}</h1>
    <p class="main-desc fade-in-up anchor-desc" *ngIf="hostName">
      A challenge by {{ hostName }}
    </p>
    <div class="fade-in-up challenge-wrapper" *ngIf="hostName">
      <input
        type="text"
        name="nameStr"
        placeholder="Enter name..."
        [(ngModel)]="nameStr"
        value="{{ nameStr }}"
      />
      <button
        class="btn clr-wgreen submit hoverhands"
        (click)="startChallenge()"
        [attr.disabled]="
          this.nameStr == '' || this.nameStr == null ? 'disabled' : null
        "
      >
        Start Quiz
      </button>
    </div>
    <div class="fade-in-up challenge-wrapper" *ngIf="!validCode">
      <p class="main-desc fade-in-up anchor-desc">Invalid link.</p>
      <a routerLink="/"><button class="btn submit">Back to home</button></a>
    </div>
  </div>
</div>
