* {
  box-sizing: border-box;
}

.score-inner-div {
  margin: auto;
  max-width: 1200px;
}

.score-text {
  margin-top: 3%;
  padding-bottom: 10px;
  width: 45%;
  max-width: 800px;
  display: inline-block;
  vertical-align: top;

  h1 {
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 160px;
    line-height: 180px;
  }

  h2 {
    font-size: 72px;
    margin-bottom: 10px;
    margin-top: 10px;
    line-height: 80px;
  }
}

.submit {
  width: calc(100% - 40px);
  max-width: 300px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.flavor-text {
  margin-top: 10%;
  text-align: left;
  width: 50%;
  min-width: 400px;
  display: inline-block;

  .flavor-card {
    width: 360px;
    overflow: hidden;
    background-color: #191919;
    border-radius: 8px;
    padding: 10px 20px 10px 20px;
    margin: 15px auto;
    text-align: left;

    .scoreboard-entry {
      box-sizing: border-box;
      padding: 10px 5px 10px 5px;
      text-align: left;
      border-bottom: 1px solid #2e2e2e;
      display: inline-flex;
      //justify-content: center;
      //align-items: center;
      width: 100%;
    }
  }

  .link-mask div:hover {
    //background-color: rgba(0,153,255,0.7);
    background-color: #1d5d88;
    transition: background 0.25s ease;
    -webkit-transition: background 0.25s ease;
  }
}

.link-mask {
  color: white;
}

.link-mask:hover {
  color: white;
}

.bold-text {
  font-weight: 800;
}

.leaderboard::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.leaderboard {
  max-height: 360px;
  margin-bottom: 12px;
  scrollbar-width: none;
  overflow: auto;
}

.mid-table {
  width: 100%;
  text-align: center;
  max-width: none;

  .flavor-card {
    margin: 20px auto;
  }
}

.sb-rank {
  width: 40px;
}

.sb-name {
  width: calc(100% - 100px);

  img {
    height: 16px;
    align-items: center;
    filter: invert(1);
    margin-left: 10px;
    margin-bottom: 2px;
  }
}

.sb-score {
  width: 60px;
}

.tweet {
  height: 18px;
  filter: invert(1);
  margin-right: 8px;
}

.res-view {
  .link-div {
    max-width: 500px;
    margin: 40px auto 60px auto;
  }
}

.board-btn {
  display: block;
  margin: 20px auto 5px auto;
  padding: 12px 20px;
  max-width: calc(100% - 10px);
}

.copy-btn:hover {
  background-color: #727272;
}

#twitter {
  background-color: #1da1f2;

  img {
    filter: invert(1);
  }
}

#reddit {
  background-color: #ff4500;
}

#fb {
  background-color: #3b5998;

  img {
    filter: invert(1);
  }
}

#vk {
  background-color: #5181b8;

  img {
    filter: invert(1);
  }
}
