$addfieldclr: #2e2e2e;

.stats-pad {
  max-width: 1080px;
  padding-bottom: 24px;
  margin-bottom: 20px;
}

.config-div {
  text-align: right;
  margin: auto;

  .navi-btn {
    padding: 12px 12px 15px 12px;
    width: 50px;
    height: 50px;
    margin-top: 0px;
  }
}

.login-pad {
  max-width: 640px;
  padding: 24px 30px 20px 30px;

  h2,
  p,
  div {
    text-align: center;
  }
}

.error-popup {
  z-index: 100;
  position: fixed;
  bottom: 20px;
  right: 0;
  left: 0;
  padding: 0px 10px;

  div {
    width: 100%;
    max-width: 420px;
    overflow: hidden;
    background-color: #cb673c;
    border-radius: 10px;
    padding: 15px 25px 15px 25px;
    margin: auto;
    text-align: left;
  }
}

.chart-tabs {
  width: 100%;
  text-align: center;

  div {
    display: inline-block;
    width: calc(50% - 20px);
    max-width: 160px;
    margin: 20px 10px 30px 10px;
  }
}

.flavor-text {
  margin-top: 4%;
  text-align: center;
  width: 100%;
  min-width: none;
  display: inline-block;

  h1 {
    width: 10%;
    display: inline-block;
    vertical-align: top;
    font-size: 36px;
    margin: 5px 10px 5px 0%;
  }

  img {
    width: 15%;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    max-width: 50px;
  }

  .track-text {
    width: 70%;
    display: inline-block;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;

    h3 {
      font-size: 18px;
      margin: 0.2em 0;
    }

    p {
      font-size: 14px;
      margin: 0.2em 0;
    }
  }
}

.multi-graph-div {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;

  .multi-g {
    width: 25%;
    text-align: center;

    h3 {
      margin-top: 0px;
      margin-bottom: 5px;
    }
  }
}

.legend-div {
  text-align: center;
  width: 40%;
  min-width: 360px;
  vertical-align: top;
  display: inline-block;

  .legend-space {
    min-height: 300px;
  }

  .legend-colors {
    max-height: 300px;
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .legend-colors::-webkit-scrollbar {
    display: none;
  }

  .legend-item {
    width: 100%;
    padding: 5px 0px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  span {
    display: inline-block;
    width: calc(100% - 90px);
  }
}

.spacing-icon {
  margin-left: 10px;
}

.empty-icon {
  opacity: 0 !important;
}

.visibility-icon {
  width: 100%;
  max-height: 100%;
  filter: invert(1);
  opacity: 0.8;
}

button:hover .visibility-icon {
  opacity: 1;
  cursor: pointer;
}

.delete-graph {
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  filter: invert(1);
  opacity: 0.4;
}

.delete-graph:hover {
  opacity: 1;
  cursor: pointer;
}

.edit-label {
  text-align: left;
  color: #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
  width: calc(100% - 90px);
  margin: 0;
  border: 1px solid #c4c4c4;
  background-color: $addfieldclr;
}

.multi-edit {
  font-family: "Circular", sans-serif;
  width: 100%;
  font-size: 1.17em;
  text-align: center;
}

.add-graph {
  width: 100%;
  margin: 40px 0px;
  text-align: center;
}

.select-graph {
  padding: 8px 0px;
}

.graph-color {
  width: 15px;
  height: 15px;
  border-radius: 20px;
  margin-right: 15px;
  display: inline-block;

  div {
    margin: 4px;
    width: 7px;
    height: 7px;
    background-color: $addfieldclr;
    border-radius: 20px;
  }
}

.flavor-card {
  width: 320px;
  overflow: hidden;
  background-color: #2e2e2e;
  border-radius: 10px;
  padding: 15px 30px 20px 25px;
  margin: 15px auto;
  text-align: left;

  h2 {
    padding-left: 5px;
  }
}

.chart-div {
  width: 60%;
  max-width: calc(100% - 360px);
  display: inline-block;
  padding: 20px 10px;
}

.audio-features-div {
  overflow: hidden;
  padding: 0px 0px 0px 20px;

  p {
    margin-top: 0px;
    margin-bottom: 20px;
    opacity: 0.9;
  }
}

.audio-features-header {
  width: 100%;

  h2 {
    width: 150px;
    display: inline-block;
    vertical-align: top;
  }
  div {
    width: calc(100% - 200px);
    padding-top: 20px;
    display: inline-block;
  }
  span {
    width: 50px;
    display: inline-block;
    padding-top: 15px;
    vertical-align: top;
    font-size: 14px;
    opacity: 0.8;
  }
}

.sel-option {
  width: 50%;
  background-color: $addfieldclr;
}

.exclude-option {
  text-align: left;
  min-width: 200px;
  width: 50%;
  font-size: 16px;
  color: #c4c4c4;
  padding: 12px 20px 12px 20px;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 0;
  border: 1px solid #c4c4c4;
  background-color: $addfieldclr;
}

button:disabled {
  opacity: 0.8;
}

button:disabled:hover {
  opacity: 0.8;
  transform: scale(1);
  cursor: default;
}

// favorites css

.sec-title {
  width: 15%;
}

.fav-sub-heading {
  width: 100%;
  text-align: left;
  font-size: 3em;
  padding-top: 10px;
  margin: 10px 0px 10px;
}

.track-container {
  margin-bottom: 60px;
}

.artist-container {
  margin-bottom: 60px;
}

.genre-card {
  background: #191919;
  border-radius: 10px;
  padding: 5px 30px;
  margin: 5px;
}

.track-card,
.track-text {
  width: 640px;
  overflow: hidden;
  background-color: #191919;
  padding: 12px 24px;
  margin: 4px auto;
  text-align: left;
}

.track-card {
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
}

.row-option {
  width: 640px;
  padding: 8px 10px;
  margin: auto;
}

.h-option {
  width: 45%;
  display: inline-block;
  text-align: left;
}

.create-p {
  width: 50%;
  text-align: right;
}

.scaled-div {
  position: relative;
  display: inline-block;
  width: 240px;
  height: 240px;
  border-radius: 5px;
  overflow: hidden;
}

.custom-scaled {
  width: 240px;
  height: 240px;

  img {
    width: 100%;
    height: 100%;
  }
}

.login-right {
  display: inline-block;
  width: calc(100% - 240px);
  vertical-align: top;
  padding: 0px 10px 0px 40px;
}

// CUSTOM USER IMAGE
.custom-image-div {
  position: relative;
  //width: 800px;
  //height: 800px;

  h2 {
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    margin: 5px 0px;
    text-transform: uppercase;
  }

  p {
    text-align: left;
    font-family: "Circular", sans-serif;
    font-size: 1.5em;
    margin: 0px 0px;
  }

  .genre-custom {
    position: absolute;
    width: 650px;
    bottom: 300px;
    left: 20px;
    padding: 20px 0px;

    h1 {
      text-align: left;
      font-size: 6em;
      margin: 15px 0px 15px 40px;
    }
  }

  .line-custom {
    position: absolute;
    width: 450px;
    bottom: 300px;
    left: 0px;
    border-bottom: 12px solid white;
  }

  .right-custom {
    position: absolute;
    width: 300px;
    bottom: 30px;
    right: 10px;
    padding: 20px 20px;
  }

  .left-custom {
    position: absolute;
    width: 300px;
    bottom: 30px;
    right: 300px;
    padding: 20px 20px;
  }
}

.colorizer {
  // blending for spotify colorizer
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  app-radar-chart {
    position: absolute;
    bottom: -600px;
    left: -700px;
    width: 1600px;
    mix-blend-mode: multiply;
    -webkit-filter: grayscale(100%) contrast(1);
    filter: grayscale(1) contrast(1);
  }
}

.colorizer::after {
  // blending for spotify colorizer
  mix-blend-mode: lighten;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#wlogo {
  width: 42px;
  position: absolute;
  top: 40px;
  right: 40px;
}

#custom-user-image {
  width: 100%;
  height: 100%;
  // blending for spotify colorizer, with high contrast
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: multiply;
  -webkit-filter: grayscale(100%) contrast(1);
  filter: grayscale(1) contrast(1);
}

.green {
  background-color: #00ff36;
}
.green::after {
  background-color: #23278a;
}

.red-purple {
  background-color: #e91628;
}
.red-purple::after {
  background-color: #1d3162;
}

.blue {
  background-color: #0099ff;
}
.blue::after {
  background-color: #1c3775;
}

.orange {
  background-color: #f65e35;
}
.orange::after {
  background-color: #1e3265;
}

@media (max-width: 768px) {
  h1 {
    margin-top: 10%;
  }

  .track-card {
    width: 100% !important;
    padding: 10px 20px !important;
    margin: 4px auto !important;
    min-height: 64px;

    h1 {
      font-size: 28px;
      width: 35px;
      margin: 0px 10px 0px 0%;
    }
  }

  .track-text {
    width: calc(100% - 100px) !important;
    margin: 0px !important;
    padding: 0px 10px 0px 20px !important;
    h3 {
      font-size: 14px !important;
      margin: 1px 0 !important;
    }
    p {
      font-size: 12px !important;
      margin: 1px 0 !important;
    }
  }

  .stats-pad {
    min-height: 0px;
  }

  .chart-div {
    width: 100%;
    max-width: 100%;
  }

  .flavor-text img {
    width: 36px !important;
    margin-left: 2%;
  }

  .h-option {
    width: 100%;
    text-align: left;

    .sel-option {
      width: 80%;
    }
  }

  .row-option {
    width: 100%;
  }

  .create-p {
    width: 100%;
    text-align: center;
  }

  .sec-p {
    font-size: 16px;
  }

  .flavor-card {
    width: 100%;
  }

  .legend-div {
    width: 100%;
    min-width: 0px;

    .legend-space {
      min-height: 0px;
    }
  }

  .graph-btn {
    width: 200px;
  }

  .audio-features-div {
    padding: 0px;
  }

  .audio-features-header {
    h2 {
      width: 100%;
      display: inline-block;
      vertical-align: top;
    }
    div {
      width: calc(100% - 50px);
      padding-top: 5px;
      display: inline-block;
    }
    span {
      padding-top: 0px;
    }
  }

  .scaled-div {
    margin: 20px calc(50% - 120px);
  }

  .login-right {
    width: 100%;
    padding: 0px 10px 0px 10px;
  }
}
