$bg-color: #2E2E2E;

.music-player {
    display: none;
}

.front {
    z-index: 99;
    position: relative;
}

.overlay {
    position: fixed;
    top: 0px; left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 30;
}

.ques-num {
    position: absolute;
    top: 0; left: 0;
    font-size: 110px;
    margin-top: 3%;
}

.timer {
    position: absolute;
    top: 0; right: 0;
    margin-top: 4%;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    opacity: 0.6;

    div {
        width: 50%;
        display: inline-block;
        padding: 1px;
        transition: all 0.25s ease;
        box-sizing: border-box;
        
        img {
            width: 100%;
        }
    }
}

.smallcircle {
    padding: 5px!important;
}

.sound-div {
    margin-top: 6%;
    //padding-top: 160px;
    position: relative;
    //width: 500px;
    display: inline-block;
    text-align: center;
    div {
        position: relative;
        width: 400px;
        height: 120px;
        margin: 20px auto;
    }
}
.soundwave-white,
.soundwave-blue { 
    overflow: hidden; 
    position: absolute; 
    top: 0; left: 0; width: 400px; height: 120px;  
    display: block;
    object-fit: none;
    object-position: 0 50%;
}

.sw {
  transition: all .2s ease-in-out;
}

.sw:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.soundwave-blue { 
    width: 0%;
    object-fit: none; 
    object-position: 0 50%;
}

.blue-finished {
    width: 100%;
}

.audio-btn {
    padding: 10px 40px;
    margin: 10px 12px;
}

.animate-wave {
    animation-name: showHide;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-duration: 5.5s;
    animation-direction: normal;
  }

.animate-wave-long {
    animation-name: showHide;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-duration: 10.5s;
    animation-direction: normal;
}

@-webkit-keyframes showHide { /* Chrome, Safari */
    0% {width:0%}
    100% {width:100%;}
}
@-moz-keyframes showHide { /* FF */
    0% {width:0%}
    100% {width:100%;}
}
@-ms-keyframes showHide { /* IE10 */
    0% {width:0%}
    100% {width:100%;}
}
@-o-keyframes showHide { /* Opera */
    0% {width:0%}
    100% {width:100%;}
}
@keyframes showHide {
    0% {width:0%}
    100% {width:100%;}
}