<div class="main-div">
  <app-navbar></app-navbar>
  <div *ngIf="isLoaded">
    <div class="answer-module absoluteCenter">
      <div class="close-mod hoverhands" (click)="unLoad()">
        <img src="assets/close.svg" />
      </div>
      <div *ngIf="followedTwitter && !playlistsLoaded" class="loading-div"></div>
      <div *ngIf="!followedTwitter">
        <div class="popup-title">
          <h1>Select playlist...</h1>
        </div>
        <div>Support the developer to create quizzes based on custom playlists!</div>
        <a class="coffee twitter" (click)="onFollow()" href="https://twitter.com/yihonganthony" target="_blank">Follow
          on Twitter</a>
      </div>
      <div *ngIf="followedTwitter && playlistsLoaded">
        <div class="popup-title">
          <h1>Select playlist...</h1>
        </div>
        <div class="excluded-list"></div>
        <input class="exclude-option" placeholder="Find a playlist..." type="text" name="searchPlayStr"
          [(ngModel)]="searchPlayStr" (keyup)="searchPlaylists()" value="{{ searchPlayStr }}" />
        <div class="ans-sel">
          <div class="p-card" (click)="selectSavedSongs()">
            <div class="p-name">
              <h3>Saved Songs</h3>
            </div>
            <div class="p-len">{{ savedSongsSize }} tracks</div>
          </div>
          <div class="p-card" *ngFor="let p of playlistList; index as i" (click)="selectPlaylist(p)">
            <div class="p-name">
              <h3>{{ p.name }}</h3>
            </div>
            <div class="p-len">
              {{ p.owner.display_name }} · {{ p.tracks.total }} tracks
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay" (click)="unLoad()"></div>
  </div>
  <div *ngIf="excludeModule && artistList.length > 0">
    <div class="answer-module absoluteCenter">
      <div class="close-mod hoverhands" (click)="unLoadExclude()">
        <img src="assets/close.svg" />
      </div>
      <div class="popup-title">
        <h1>Exclude artists...</h1>
      </div>
      <div class="excluded-list">
        <div class="exclude-card" *ngFor="let aname of config.excludeArtists; index as i">
          <div>{{ aname }}</div>
          <div class="remove-artist hoverhands" (click)="removeArtist(aname)">
            <img src="assets/remove.svg" />
          </div>
        </div>
      </div>
      <input class="exclude-option" placeholder="Exclude an artist..." type="text" name="searchStr"
        [(ngModel)]="searchStr" (keyup)="searchArtists()" value="{{ searchVal }}" />
      <div class="ans-sel artist-sel">
        <div class="art-card" *ngFor="let aname of searchList; index as i">
          <div *ngIf="config.excludeArtists.includes(aname)" class="action-img grey-out" id="done-img">
            <img src="assets/tick.svg" />
          </div>
          <div *ngIf="
              config.excludeArtists.length > 4 &&
              !config.excludeArtists.includes(aname)
            " class="action-img grey-out">
            <img src="assets/plus.svg" />
          </div>
          <div *ngIf="
              config.excludeArtists.length < 5 &&
              !config.excludeArtists.includes(aname)
            " class="action-img hoverhands" (click)="addArtist(aname)">
            <img src="assets/plus.svg" />
          </div>
          <div *ngIf="
              config.excludeArtists.length < 5 &&
              !config.excludeArtists.includes(aname)
            " class="artist-name">
            <span>{{ aname }}</span>
          </div>
          <div *ngIf="
              config.excludeArtists.length > 4 ||
              config.excludeArtists.includes(aname)
            " class="artist-name grey-out">
            <span>{{ aname }}</span>
          </div>
        </div>
      </div>
      <button class="btn clr-wgreen mob-top-pad" (click)="unLoad()">
        Exclude
      </button>
    </div>
    <div class="overlay" (click)="unLoadExclude()"></div>
  </div>
  <div *ngIf="!options">
    <div *ngIf="!isSingleplayer && !isMultiplayer" class="main-text mob-pad fade-in-up mode-div">
      <a (click)="isSingleplayer = true">
        <app-menu-card class="preview-card" imagePath="assets/wave.svg" title="Play"
          body="How well do you know your music library?"></app-menu-card>
      </a>
      <!--<a (click)="isMultiplayer = true"
        ><app-menu-card
          imagePath="assets/fourdots.svg"
          title="Multiplayer"
          body="Song guessing is more fun with a crowd."
        ></app-menu-card
      ></a>-->
      <a routerLink="/top">
        <app-menu-card class="preview-card" imagePath="assets/star.svg" title="Favourites"
          body="View and save your top songs and artists."></app-menu-card>
      </a>
      <a (click)="toAnalysis()">
        <app-menu-card class="preview-card" imagePath="assets/radar.svg" title="Analysis"
          body="View your audio report and visualize worldwide data."></app-menu-card>
      </a>
      <a routerLink="/leaderboard">
        <app-menu-card class="preview-card" imagePath="assets/cup.svg" title="Leaderboard"
          body="How does your score compare to everyone else?"></app-menu-card>
      </a>
      <a routerLink="/profile">
        <app-menu-card class="preview-card" imagePath="assets/profile.svg" title="My Profile"
          body="Personal stats and generated quizzes."></app-menu-card>
      </a>
    </div>
    <div *ngIf="isSingleplayer" class="main-text mob-pad fade-in-up mode-div">
      <a routerLink="/tutorial">
        <app-menu-card class="preview-card" imagePath="assets/question.svg" title="How To Play"
          body="A quick introduction to Whisperify with the best song ever."></app-menu-card>
      </a>
      <a (click)="chooseTop()">
        <app-menu-card class="preview-card" imagePath="assets/flame.svg" title="Top Tracks"
          body="Recommended. Quiz yourself on your top songs!"></app-menu-card>
      </a>
      <a (click)="choosePlaylist(0)">
        <app-menu-card class="preview-card" imagePath="assets/playlist.svg" title="My Playlists"
          body="Quiz yourself on any of your playlists."></app-menu-card>
      </a>
      <button class="btn back-btn" (click)="togglePlay()">Back</button>
    </div>
    <div *ngIf="isMultiplayer" class="main-text mob-pad fade-in-up mode-div">
      <button class="btn back-btn" (click)="togglePlay()">Back</button>
    </div>
  </div>
  <div *ngIf="options" class="mob-pad fade-in-up options-pad top-margin">
    <div class="row-option" *ngIf="modeChoice == 'top'">
      <h2 class="h-option">Time Period</h2>
      <div class="right-option">
        <select class="sel-option" [ngModel]="chosenPeriod" (change)="choosePeriod($event.target.value)">
          <option *ngFor="let t of timePeriod" [value]="t">{{ t }}</option>
        </select>
      </div>
    </div>
    <div class="row-option">
      <h2 class="h-option">Whisper Length</h2>
      <div class="right-option">
        <select class="sel-option" [ngModel]="config.whisperLen" (change)="config.whisperLen = $event.target.value">
          <option *ngFor="let t of whisperLen" [value]="t">
            {{ t }} seconds
          </option>
        </select>
      </div>
    </div>
    <div class="row-option">
      <h2 class="h-option">Time Limit</h2>
      <div class="right-option">
        <select class="sel-option" [ngModel]="config.timeLimit" (change)="config.timeLimit = $event.target.value">
          <option *ngFor="let t of timeLimit" [value]="t">
            {{ t }} seconds
          </option>
        </select>
      </div>
    </div>
    <div class="row-option">
      <div class="h-option">
        <h2>Exclude Artists</h2>
        <p class="no-mobile">
          Here you can exclude certain artists from your quiz. Useful if you
          listen to a lot of nature sounds, white noise, etc.
        </p>
        <p class="mobile">
          Useful if you listen to a lot of nature sounds, white noise, etc.
        </p>
      </div>
      <div class="right-option vert-align-top">
        <div class="excluded-profiles">
          <div class="artist-profile hoverhands" *ngIf="this.config.excludeArtists.length < 1" (click)="toExclude()">
            <div id="add-img"></div>
          </div>
          <div class="artist-profile hoverhands" *ngIf="this.config.excludeArtists.length > 0" (click)="toExclude()">
            <div>
              {{ this.config.excludeArtists[0].substring(0, 2).toUpperCase() }}
            </div>
          </div>
          <div class="artist-profile hoverhands" *ngIf="this.config.excludeArtists.length > 1" (click)="toExclude()">
            <div>
              {{ this.config.excludeArtists[1].substring(0, 2).toUpperCase() }}
            </div>
          </div>
          <div class="artist-profile hoverhands" *ngIf="this.config.excludeArtists.length > 2" (click)="toExclude()">
            <div>+{{ this.config.excludeArtists.length - 2 }}</div>
          </div>
        </div>
        <button class="btn audio-btn no-side-marg sel-artist" (click)="toExclude()">
          Select artists
        </button>
      </div>
    </div>
    <div class="row-option">
      <div class="h-option">
        <h2>Multiple Choice</h2>
        <p class="no-mobile">
          This reduces the maximum score you can get per question, but may help
          if you are on a mobile device.
        </p>
        <p class="mobile">Recommended for mobile users.</p>
      </div>
      <div class="right-option vert-align-top">
        <label class="switch">
          <input type="checkbox" (change)="
              $event.target.checked
                ? (config.multChoice = true)
                : (config.multChoice = false)
            " />
          <span class="slider round"></span>
        </label>
      </div>
    </div>
    <button class="btn no-mobile-inline" (click)="toggleOptions()">Back</button>
    <a (click)="startQuiz()">
      <button class="btn clr-wgreen mob-top-pad">Start Quiz</button>
    </a>
    <button class="btn mobile-inline" (click)="toggleOptions()">Back</button>
  </div>
</div>