$optionclr: #414141;
$chooseclr: #d4d4d4;
$bg-color: #2e2e2e;
$wgrey: #a8a8a8;

.mode-card {
  border-radius: 15px;
  padding: 16px 20px;
  background-color: rgb(65, 65, 65);
  color: white;
  width: 250px;
  text-align: left;
  margin: 8px;
  display: inline-block;
  vertical-align: top;
  min-height: 180px;
  transition: all 0.2s ease-in-out;

  .card-title {
    display: flex;
    align-items: center;

    img {
      width: 32px;
      height: 32px;
      margin-right: 10px;
    }

    h2 {
      display: block;
    }
  }
}

a .mode-card:hover {
  margin-top: 2px;
  margin-bottom: 14px;
  transition: all 0.2s ease-in-out;
  background-color: rgb(75, 75, 75);
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 30;
}

.answer-module {
  background-color: black;
}

.ans-sel {
  overflow-y: auto;
  height: 40vh;
  max-height: 50vh;
  margin-bottom: 40px;
}

.p-card {
  box-sizing: border-box;
  padding: 10px 15px 20px 15px;
  text-align: left;
  border-bottom: 1px solid #2e2e2e;

  .p-name h3 {
    margin: 0.25em 0;
  }
  .p-len {
    color: #a8a8a8;
  }
}

.p-card:hover {
  cursor: pointer;
  background-color: #2e2e2e;
}

.art-card {
  box-sizing: border-box;
  padding: 10px 15px 10px 15px;
  text-align: left;
  border-bottom: 1px solid #2e2e2e;
  display: inline-flex;
  align-items: center;
  //justify-content: center;
  min-height: 50px;
  width: 100%;

  .art-inner {
    text-align: left;
  }
}

.artist-sel {
  height: 30vh;
  margin-bottom: 10px;
}

.excluded-profiles {
  text-align: right;
  padding: 0px 10px;
}

.artist-profile {
  width: 40px;
  height: 40px;
  font-size: 16px;
  padding: 9px 11px 11px 9px;
  line-height: 20px;
  border: 1px solid $chooseclr;
  color: $chooseclr;
  margin-right: 5px;
  border-radius: 40px;
  display: inline-block;
  text-align: center;
  opacity: 0.8;
  margin-bottom: 10px;
  box-sizing: border-box;

  div {
    display: inline-block;
  }
}

.excluded-list {
  max-height: 20vh;
  overflow-y: auto;
  margin-bottom: 20px;
}

.exclude-card {
  display: inline-flex;
  align-items: center;
  background-color: #2e2e2e;
  border-radius: 5px;
  margin: 0px 10px 10px 0px;

  div {
    padding: 10px 15px 10px 15px;
    display: inline-block;
  }

  .remove-artist {
    img {
      filter: grayscale(1);
      width: 20px;
      height: 20px;
    }
  }
}

.grey-out {
  opacity: 0.8;
}

// Row of options with dropdown styling

.row-option {
  width: 100%;
  padding: 8px 10px;
}

.h-option {
  display: inline-block;
  width: 50%;
  text-align: left;
}

.right-option {
  width: 45%;
  display: inline-block;
  text-align: right;
}

.vert-align-top {
  vertical-align: top;
  margin-top: 10px;
}

#add-img {
  background-image: url("/assets/plus.svg");
  background-size: contain;
  filter: invert(1);
  width: 14px;
  height: 14px;
  margin: 3px;
}

#plus-img {
  background-image: url("/assets/plus.svg");
  background-size: contain;
}

#done-img {
  filter: invert(1);
}

.action-img {
  margin: 5px 30px 5px 20px;
  filter: invert(1);

  img {
    height: 20px;
    width: 20px;
  }
}

.artist-name {
  span {
    font-size: 16px;
  }
}

.exclude-option {
  text-align: left;
  width: 90%;
  font-size: 16px;
  color: #c4c4c4;
  padding: 0.5em 1.5em 0.5em 1em;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 0;
  margin-bottom: 10px;
  border: 1px solid #2e2e2e;
  background-color: black;
}

.sel-option {
  min-width: 150px;
  font-size: 16px;
  color: $chooseclr;
  padding: 0.5em 1.5em 0.5em 1em;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 0;
  border: 1px solid $chooseclr;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: $optionclr;
  background-image: url("/assets/dd.svg");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.sel-option::-ms-expand {
  display: none;
}
.sel-option:hover {
  border-color: #fff;
  cursor: pointer;
}
.sel-option:focus {
  border: 1px solid #fff;
  color: $chooseclr;
  outline: none;
}
.sel-option option {
  border: 1px solid $chooseclr;
  font-weight: normal;
}

.popup-title {
  text-align: left;
  h1 {
    font-size: 30px;
  }
  p {
    font-size: 20px;
    width: 95%;
    line-height: 1.5em;
  }
}

.absoluteCenter {
  margin: auto;
  position: fixed;
  top: 8%;
  //bottom:0;
  left: 0;
  right: 0;
}

@media (max-width: 768px) {
  .back-btn {
    margin-top: 20px;
  }
  .mode-card {
    width: calc(100% - 20px);
    text-align: left;
    margin: 5px 8px;
    min-height: auto;
    padding: 16px 22px 16px 22px;

    img {
      max-height: 30px;
      max-width: 30px;
      margin-bottom: 5px;
    }
    h2 {
      display: inline-block;
      margin-left: 5px;
    }
    p {
      margin-top: 0;
    }
  }
  a .mode-card:hover {
    margin: 5px 8px;
    transition: all 0.2s ease-in-out;
    background-color: rgb(75, 75, 75);
  }
  .popup-title h1 {
    font-size: 28px;
  }

  .answer-module {
    box-sizing: border-box;
    width: 95%;
    padding: 12px 25px;
  }

  .absoluteCenter {
    top: 10%;
  }

  .row-option {
    padding: 10px 10px;
  }

  .options-pad {
    padding: 12px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .sel-artist {
    font-size: 14px;
  }

  .excluded-list {
    max-height: 15vh;
  }

  .excluded-profiles {
    padding: 0px 8px;
  }
}

@media (max-width: 460px) {
  .h-option {
    width: 100%;
  }

  .right-option {
    width: 100%;
    text-align: left;
  }

  .excluded-profiles {
    text-align: left;
  }
}
