* {
  box-sizing: border-box;
}

.flavor-text {
  margin-top: 4%;
  text-align: center;
  width: 100%;
  min-width: none;
  display: inline-block;

  h1 {
    width: 100%;
    font-size: 36px;
    margin: 5px 10px 5px 0%;
    padding-right: 10px;
  }

  img {
    width: 100%;
    border-radius: 50px;
  }

  .user-text {
    width: 100%;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;

    h3,
    p {
      margin: 0.2em 0;
      overflow: hidden;
    }

    p {
      color: #a8a8a8;
    }
  }
}

.user-card,
.user-text {
  width: 100%;
  max-width: 640px;
  overflow: hidden;
  background-color: #191919;
  padding: 15px 24px 15px 24px;
  margin: 6px auto;
  text-align: left;
}

.user-card {
  border-radius: 10px;
  display: grid;
  grid-template-columns: 10% 60px auto 60px;
  align-items: center;
}

.lvl-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
  }

  h3 {
    font-size: 30px;
    margin: 5px 0 5px;
  }
}

//dropdown css

.row-option {
  width: 640px;
  padding: 8px 10px;
  margin: auto;
}

.h-option {
  width: 45%;
  margin: 20px 0px 10px 0px;
  display: inline-block;
  text-align: left;
}

.bg-arrow {
  width: 100%;
  height: 100%;
}

.down-arrow {
  background-image: url('/assets/down-arrow.svg');
  background-size: contain;
  filter: invert(1);
}

.up-arrow {
  background-image: url('/assets/down-arrow.svg');
  background-size: contain;
  filter: invert(1);
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  h1 {
    margin-top: 20%;
  }

  .user-card {
    padding: 10px 20px !important;
    margin: 5px auto !important;
    min-height: 86px;

    h1 {
      font-size: 28px;
      margin: 0px 10px 0px 0%;
    }
  }

  .user-text {
    margin: 0px !important;
    padding: 0px 10px 0px 20px !important;

    h3 {
      font-size: 16px;
      margin: 1px 0 !important;
    }
    p {
      font-size: 16px;
      margin: 1px 0 !important;
    }
  }

  .lvl-div {
    p {
      font-size: 14px;
    }
    h3 {
      font-size: 24px;
    }
  }

  .flavor-text img {
    width: 50px !important;
    margin-left: 2%;
  }

  .h-option {
    width: 100%;
    padding: 10px 10px;
    text-align: left;

    .sel-option {
      width: 100%;
      max-width: 250px;
    }
  }

  .row-option {
    width: 100%;
  }

  .sec-title {
    margin-left: 10px;
    margin-bottom: 0px;
  }
}
